.container{
   display:inline-flex;
    padding-left: 16px;
    
    top: 0;
    left: 0;
    width: 100%;
    background-color: #0f1111;
    color: #fff;
    position: fixed;
}
#list{
    
    height: 2.5em;
    margin-top: 21px;
    border-radius: 5px;
    font-family: Arial;
    background-color:rgb(220, 207, 207);
    font-weight: bold;
    border: none;
    border-end-end-radius: 0;
    border-top-right-radius: 0;
    width: 50px;

    padding-right: 10px;
   
}
.sarch-btn{
    height: 2.5em;
    margin-top: 21px;
    border: none;
    background-clip: border-box;
    border-radius: 5px;
    background: #edc375;
    width: 42px;
    border-start-start-radius:0 ;
    border-end-start-radius:0 ; 
}
.sarch{
    height: 2.5em;
    border: none;
    margin-top: 21px;
    width: 40%;
    border-radius: 5px;
    border-start-start-radius:0 ;
    border-end-start-radius:0 ; 
    border-end-end-radius: 0;
    border-top-right-radius: 0;
    font-family: arial;
    color: #2f2c2c90;
    font-weight: 700;
    text-decoration-color: #0f1111;
    
    
}
.sarch:active{
border: 4px solid rgb(255, 216,20); 
}
.locet{
 margin-left: 10px;
height: 4em;
padding-left: 16px;
padding-right: 16px;
padding-bottom: 16px;
margin: 8px;
transition: border-color 0.15s;  
cursor: pointer;  
    
    
}
.locet:hover{
    border: 1px solid #fff;
    border-radius: 2px;
   
}
.up-font{
    font-size: 15px;
    font-weight: bold;
    font-family: arial;
    margin-top: 0;
}
.logo:hover{
   border: 1px solid #fff;
    border-radius: 2px; 
   
}
.logo{
    height: 4em;
    margin-left: 10px;
    margin-top: 6px;
    transition: border-color 0.15s;
    
}
.add-s{
    background-color:#0f1111;
    font-weight: bold;
    font-size: 13px;
    font-family: arial;
    color: #fff;
}
.card-1{
    height: 420px;
    width: 313.337px;
    background-color:#fff;
   padding-top: 20px;
    margin-left: 54px;
    cursor: pointer;
    padding: 16px;
    
}
.box-1{
    
    padding-top: 220px;
    
    
    

}
.cantainer-1{
    display:flex;
    
}
.card-1-title{
    line-height: 26px;
    font-weight: bold;
    width: 290px;
    font-family: arial;
    font-size: 19px;   
}
.card-img{
    width: 135px;
    height: 105px;
    
}
.row-1{
    margin-bottom: 0;
    margin-right: 7px;
}
.row-2{
    margin-bottom: 0;
}
.title{
    margin-top: 0;
    font-family: arial;
    font-size: 13px;
}
.fot-1{
    background-color: #fff;
    width: 100%;
    height: 50px;
    margin-top: 40px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.308);
}
.fot-2{
    background-color: #fff;
    padding: 20px;
    text-align: center;
    border-bottom:1px solid rgba(128, 128, 128, 0.308);
}
.fot-ti{
    font-weight: 700;
    font-family: arial;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 0;
}
.fot-btn{
    width: 255px;
    height: 32px;
    border-radius: 18px;
    cursor: pointer;
    background-color: rgb(255, 216,20);
    border: none;
    margin-top: 6px;
    font-family: arial;
    transition: background-color 0.15s;
    margin-bottom: 0;
}
.fot-btn:hover{
    background-color: rgb(255, 200,20);
    
}
.fot-btn:active{
    background-color:rgb(255, 216,20) ;
}
.fot-last{
    font-family: arial;
    font-size: 10px;
    font-weight:400;
    margin-top: 7px;
}
.fot-3{
    width: 100%;
    height: 32px;
    background-color: #fff;
}
.fot-big-btn{
    width: 100%;
    height: 45px;
    cursor: pointer;
    color: #fff;
    background-color: #072746cf;
    border: none;
    font-family: arial;
    font-weight: 300;
    font-size: 13px;
    box-shadow: 0px 5px 5px rgba(28, 21, 21, 0.764);
}
.fot-big-btn:hover{
opacity: 0.9;
}
footer{
    background-color: #232F3E;
    padding: 10px;
}
.fot-4{
    width: 100%;
    height: 400px;
    
    display: flex;
    
    border-bottom: 1px solid #ffffff49;
}
.text-1{
    width: 132px;
    color: #fff;
   margin-left: 264px;
   padding-right: 10px;
   margin-right: 100px;

}
.text-2{
width: 138px;
color: #fff;

margin-right: 100px;

}
.text-3{
    width: 187;
    color: #fff;
    margin-right: 100px;

}
.text-4{
    width: 221px;
    color: #fff;
}
li{
    list-style: none;
    transition: text-decoration-line 0.15s;
    font-family: arial;
    font-size: 14px;
    line-height: 1.5;
    width: 180px;
}
.fot-li{
   
   text-decoration: none;
   color: #ddd;
}

li:hover{
    text-decoration-line: underline; 
}
.fot-li-ti{
    font-weight: bold;
    font-size: 16px;
    font-family: arial;
    width: 110px;
    
}
.fot-li-ti-1{
    font-weight: bold;
    font-size: 16px;
    font-family: arial;
    width: 160px;
}
.fot-inp{
height: auto;
}
.dropdown:hover .dropdow-cotante{
    display: block;

}
.dropdown-cotante a:hover{
background-color: #ddd;
}
.dropdown:hover .drop-dtn{
    background-color: #14427a;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdow-cotante{
    position: absolute;
    display: none;
    min-width: 120px;
    z-index: 1;
}
.dropdow-cotante a{
    display: block;
    text-decoration: none;
    padding: 12px 16px;
}
/* .bg{
    width: 100%;
    height: 450px;
        
        top: 0;
        left: 0;
    
    z-index: -1;
    position: absolute;
    box-shadow: 0px 50px 500px rgb(94, 94, 95);
    
} */
body{
    background-color:rgba(94, 94, 95, 0.207)
}
.see-link{
    text-decoration: none;
}
.see-link:hover{
    color: gray;
}
.cotainer-2{
    display: inline-flex;
    margin-top: 20px;
   
}
.top-title{
    display: inline-flex;
    background-color: #232F3E;
    height: 46px;   
    width: 100%;
    margin-top: 77px;
    padding-right: 16px; 

}
.top-btn{
    color: #fff;
    text-decoration: none;
    font-family: arial;
    margin-left:10px;
    background-color: #232F3E;
    border: none;
    font-size: 14px;

    

}
.top-btn:hover{
    border: 1px solid #fff;
    border-radius: 3px;
}
.box-2{
 
    background-color: #232323;
}
.slide-cotainer{
   margin-bottom: 0;
    background-color: #fff;
    margin-top:20px;
    width: 1420px;
   padding-left: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
    margin-left: 54px;
   
}
.slide-img{
    height: 250px;
    margin-top: 6px;
    
}
.mySlides{
    display: none;
    width: 100%;
    height: 400px;
        left: 0;
    z-index: -1;
    position: absolute;
    box-shadow: 0px 50px 500px #EDDD53;

}

.slide-title{
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
    
    font-family: arial;
    font-size: 19px;   
}
.slide-img-2{
    height: 250px;
    margin-top: 6px;
    margin-right: 6px;
}